/* context-menu.component.scss */
.context-menu {
    position: absolute;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    
  }
  
  mat-menu-item {
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    margin-right: 8px;
  }
  